**/node_modules
debian/tmp/usr
debian/.debhelper
debian/libocppi-dev
debian/libocppi0
debian/debhelper-build-stamp
debian/files
debian/libocppi-dev.debhelper.log
debian/libocppi-dev.substvars
debian/libocppi0.debhelper.log
debian/libocppi0.substvars
obj-x86_64-linux-gnu
