Source: ocppi
Maintainer: Chen Linxuan <me@black-desk.cn>
Section: devel
Priority: optional
Standards-Version: 4.6.2
Build-Depends: catch2,
               cmake,
               debhelper-compat (= 13),
               libboost-dev,
               libexpected-dev,
               libsemver-dev,
               libspdlog-dev,
               libsystemd-dev,
               nlohmann-json3-dev,
               pkgconf

Package: libocppi-dev
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: c++ library for OCI runtime and distribution
 A C++ library for using/implement OCI runtime and distribution
 .
 A C++ library for using OCI runtime cli, distribution, or implement OCI runtime.

Package: libocppi0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: c++ library for OCI runtime and distribution
 A C++ library for using/implement OCI runtime and distribution
 .
 A C++ library for using OCI runtime cli, distribution, or implement OCI runtime.
